{% set data = hookable_metadata.context.data %}

<tr>
    <th class="w-50">{{ 'sylius.ui.country'|trans }}</th>
    <td>
        {% if data.countryCode is not empty %}
            {{ ux_icon('flagpack:' ~ data.countryCode|lower, {'class': 'flag flag-xs'}) }}
            {{ data.countryCode|sylius_country_name }}
        {% else %}
            {{ 'sylius_organization_plugin.ui.not_defined'|trans }}
        {% endif %}
    </td>
</tr>
