{% set data = hookable_metadata.context.data %}

<tr>
    <th class="w-50">{{ 'sylius.ui.province'|trans }}</th>
    <td>
        {{ data.provinceName|default(data.provinceCode|default('sylius_organization_plugin.ui.not_defined'|trans)) }}
    </td>
</tr>
