<a class="dropdown-item"
   href="{{ path('sylius_organization_plugin_admin_organization_orders', {'id': hookable_metadata.context.resource.id}) }}"
   data-bs-toggle="tooltip"
   data-bs-title="{{ 'sylius.ui.show_orders'|trans }}"
   data-test-show-action="Show orders"
   aria-label="details"
>
    {{ ux_icon('tabler:shopping-bag', {'class': 'icon dropdown-item-icon'}) }}
    {{ 'sylius.ui.show_orders'|trans }}
</a>
