<a class="dropdown-item"
   href="{{ path('sylius_organization_plugin_admin_partial_organization_shipping_addresses', {'id': hookable_metadata.context.resource.id}) }}"
   data-bs-toggle="tooltip"
   data-bs-title="{{ 'sylius_organization_plugin.ui.shipping_addresses'|trans }}"
   data-test-shipping-addresses-action="Show shipping addresses"
   aria-label="shipping-addresses"
>
    {{ ux_icon('tabler:map-pin', {'class': 'icon dropdown-item-icon'}) }}
    {{ 'sylius_organization_plugin.ui.shipping_addresses'|trans }}
</a>
