/vendor/
/node_modules/
/composer.lock
/drivers/

/etc/build/*
!/etc/build/.gitignore
/etc/export/*
!/etc/export/.gitignore

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local

/.phpunit.result.cache
/behat.yml
/phpunit.xml
