<div class="row">
    <div class="col-12 col-md-4 fw-bold">
        {{ 'sylius_organization_plugin.ui.billing_data'|trans }}
    </div>
    <div class="col-12 col-md-8" {{ sylius_test_html_attribute('customer-billing-data') }}>
        {% set billing_data = hookable_metadata.context.organization.billingData|default %}
        {% if billing_data is not empty %}
            <table class="table table-sm mb-0">
                <tbody>
                    {% hook 'billing_data' with {data: billing_data} %}
                </tbody>
            </table>
        {% else %}
            <span class="text-muted">{{ 'sylius.ui.no_billing_data'|trans }}</span>
        {% endif %}
    </div>
</div>
