<div class="row">
    <div class="col-12 col-md-4 fw-bold">
        {{ 'sylius.ui.default_address'|trans }}
    </div>
    <div class="col-12 col-md-8" {{ sylius_test_html_attribute('organization-default-address') }}>
        {% set default_address = hookable_metadata.context.organization.defaultAddress|default %}
        {% if default_address is not empty %}
            <table class="table table-sm mb-0">
                <tbody>
                    {% hook 'default_address' with {data: default_address} %}
                </tbody>
            </table>
        {% else %}
            <span class="text-muted">{{ 'sylius.ui.this_customer_does_not_have_a_default_address'|trans }}</span>
        {% endif %}
    </div>
</div>
