{% set data = hookable_metadata.context.data %}

<tr>
    <th class="w-50">{{ 'sylius.ui.company'|trans }}</th>
    <td>{{ data.company|default('sylius_organization_plugin.ui.not_defined'|trans) }}</td>
</tr>
