<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'sylius_organization_plugin.ui.billing_data'|trans }}
        </div>
    </div>
    <div class="card-body">
        {% hook 'billing_data' %}
    </div>
</div>
