{% set data = hookable_metadata.context.data %}

<tr>
    <th class="w-50">{{ 'sylius_organization_plugin.ui.tax_id'|trans }}</th>
    <td>{{ data.taxId|default('sylius_organization_plugin.ui.not_defined'|trans) }}</td>
</tr>
