{%
    set viewOptions = {
        failed: { color: 'bg-red-lt' },
        processing: { color: 'bg-yellow-lt' },
        success: { color: 'bg-green-lt' },
    }
%}

<span class="badge {{ viewOptions[data]['color'] }}">
    {{ data }}
</span>
